/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

body {
  padding: 10px;
}


.watchListHeader {
  background-color: #1222AB;
  color: white;
  font-style: normal;
  font-size: 22px;
  font-weight: 900;
}


.watchList {
  border: 1px solid blue;
  padding: 2px;
  margin-bottom:6px;
}

.watchListRemoveColumn {
  text-align: center;
}

.watchListNameColumn {
	text-align: left;
	font-style: normal;
	font-family: "Courier New", Verdana;
	font-size: 15px;
	font-weight: 300;
}

.watchListSelectedNameColumn {
	text-align: left;
	font-style: italic;
	font-family: "Courier New", Verdana;
	font-size: 16px;
	font-weight: 900;
}

.watchCategory {
	font-color: white;
	font-weight: 700;
	font-size: 15px;
	font-family: Verdana;
}

.hasChange {
	color : blue;
}